:root {
  font-size: 16px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  --font-main: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-secondary: 'Georgia', serif;

  /* Colors */
  --color-1: #cc0000;

  --light: #ececec;
  --medium: #666666;
  --dark: #333333;

  --overlay-light: rgba(225,225,225,0.6);
  --overlay-medium: rgba(150,150,150,0.6);
  --overlay-dark: rgba(50,50,50,0.6);
}

*,
*:before,
*:after {
  font-size: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}